.col-6 {
    border: solid 5px green;
    
}

body {
    font-family: Work Sans;
    text-align: center;
    background-color: aliceblue;
  
  }
  
  .navbar, .navbar-brand {
    text-align: center;
    display: block;
    width: 100%;
    background-color: aliceblue;
    
  }
  
  div.navbar-brand {
    padding-top: 2em;
    margin-bottom: 2em;
    
  }
  
  .navbar .navbar-brand > .navbar-item,
  .navbar .navbar-brand .navbar-link {
    display: inline-block;
  }